body {
  font-family: "Poppins", sans-serif;
  background-color: #7c776b;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 160px 80px;
}

header h1,
header h2,
header h3 {
  color: white;
  margin: 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1.3;
  margin: 20px 0;
}

header h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 2.5;
}

header h3 {
  font-weight: 800;
  font-size: 24px;
  line-height: 2.5;
  letter-spacing: 5px;
}

header h3,
header a {
  text-transform: uppercase;
}

header a {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  background-color: white;
  color: black;
  text-decoration: none;
  padding: 14px 24px;
  display: inline-block;
  margin-top: 32px;
  letter-spacing: 3px;
}

header a:hover {
  background-color: #555966;
  color: white;
  transition: all 140ms ease-in;
}

main {
  background-color: white;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-color: #e3e0d6;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 40px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  background-color: white;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.card-header.grid {
  grid-gap: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.instagram-embeds {
  margin: 30px 0;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 8px 30px 30px 30px;
  margin-top: auto;
}

.btn {
  display: block;
  background-color: #023020;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.btn:hover {
  background-color: #555966;
  transition: 120ms all ease-in-out;
}

.grid-vertical-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.img-responsive {
  width: 100%;
  display: block;
}

@media (max-width: 900px) {
  header {
    padding: 80px 20px;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 18px;
  }

  header h3 {
    font-size: 12px;
  }
}

main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #7c776bcc;
  margin: 0;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #023020;
  margin: 0;
}

main h4 {
  color: #023020;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;

  margin: 0;
}

main h5 {
  color: #7c776b;
  font-weight: 700;
  font-size: 13px;
  margin: 0;
  line-height: 1;
}

main p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("../images/footer.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px;
}

.footer-menus {
  color: white;
}

.more-about-content,
.my-connection-content,
.about-website-content,
.footer-map {
  display: grid;
  margin-top: 30px;
  grid-row-gap: 8px;
}

.footer-map {
  width: 100%;
  aspect-ratio: 4/3;
}

footer a {
  color: #9f9989;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: 0;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .card-header img {
    display: none;
  }

  .embed {
    aspect-ratio: 16/9;
  }

  .instagram-embeds {
    margin: 40px 0;
  }
}

@media (max-width: 960px) {
  footer {
    padding: 30px;
  }

  section {
    padding: 30px;
  }

  .more-about-content,
  .my-connection-content,
  .about-website-content,
  .footer-map {
    margin-top: 16px;
  }

  .more-about-menu {
    margin-top: 0;
  }

  .my-connection-menu {
    margin-top: 30px;
  }

  .about-website-menu {
    margin: 30px 0;
  }
}
